.launching-soon-melgrano-web {
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: var(--base-font-size);
  color: var(--primary-color);
  font-family: var(--font-red-hat-display);
  padding: var(--base-padding);
}

.vector-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  height: auto;
  z-index: 999;
}

.content {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center; 
  justify-content: center; 
}


.coming-soon {
  letter-spacing: 0.15em;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}


@media (max-width: 768px) {
  :root {
    font-size: 0.2 rem;
  }
  .vector-icon {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 0.6rem;
  }
  .vector-icon {
    max-width: 70%;
  }
}