/* Reset some default styles for the body */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Red Hat Display';
  background-color: #630E23;
}

/* Center the container */
.coming-soon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the coming-soon text */
.coming-soon-text {
  color: #90775D;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  position: fixed;
  bottom: 50px; 
  width: 100%; 
  text-align: center; 
}
.logo-image{
  width: 565.716px;
  height: 36.448px;
  flex-shrink: 0;
  filter: invert(44%) sepia(3%) saturate(4491%) hue-rotate(350deg) brightness(105%) contrast(68%);
  stroke-width: 1px;
  stroke: #000;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .logo-image {
    max-width: 70%;
    margin-bottom: 20%;
  }
  .coming-soon-text {
    font-size: 18px;
    bottom: 50px;
  }
}
